<%= render 'layouts/back_end_top' %>
<h1><%= @page.admintitle %></h1>
<center>
<div class="row">  
<div class="span10"><%= form_for(@page) do |f| %>
<%= f.tinymce :content %>
<%= f.submit "Update Page"%>
    <% end %></div></div>
</center>
<%= render 'layouts/back_end_bottom' %>