<%= render 'layouts/back_end_top' %>

  <h1>Create A New Product</h1>
  
<%= form_for(@product) do |f| %>
<table>
  <tr>
    <td class="span1"><%= f.label :pro_type, "Type" %></td>  
    <td><%= f.text_field :pro_type %></td>
  </tr>
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
  <td><%= f.label :discrip %>
  <%= f.text_area :discrip %></td>
  </tr>
  <tr>
    <td><%= f.label :price %></td>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
  <td><%= f.label :sprice %></td>
  <td><%= f.text_field :sprice %></td>
  </tr>
  <%= f.submit "Create This Product" %>
</table>
<% end %>

<%= render 'layouts/back_end_bottom' %>