<center>
  <ul>
    <li><%= link_to "Edit Home Page",    admin_home_path %></li><li>&nbsp|</li>
    <li><%= link_to "Edit Products",    admin_products_path %></li><li>&nbsp|</li>
    <li><%= link_to "Edit Staff",    admin_staff_path %></li><li>&nbsp|</li>
    <li><%= link_to "Edit Contact Us Page",    admin_contact_path %></li><li>&nbsp|</li>
    <li><%= link_to "Logout",    admin_logout_path, method: "delete" %></li>
  </ul>
</center>