    <li><%= link_to "Home",    root_path %></li>
    <center><%= image_tag("wheat.png") %></center>
    <li><%= link_to "Check Out Some Of Our Products",    productpage_path %></li>
    <center><%= image_tag("wheat.png") %></center>
    <li><%= link_to "Meet Our Team",    staffmembers_path %></li>
    <center><%= image_tag("wheat.png") %></center>
    <li><%= link_to "Contact Us",    contact_path %></li>
    <center><%= image_tag("wheat.png") %></center>